# Practise Exercises - Test on Logic Ability

Problem1

In [114]:
import math
n= int(input('enter no.of rounds'))
path_length=7 #diameter = 2r
#circumference=2*pi*r
ans= (math.pi) * n * (path_length)
print(round(ans,2),"KMs travelled")

enter no.of rounds5
109.96 KMs travelled

Problem2

In [75]:
# Function to find all pairs with given sum
def pairs(arr,s):
    lst=[]
    arr.sort() #sorting the given array
    i=0
    j=len(arr)-1
    while i < j:
        if arr[i]+arr[j]==s:
            lst.append((arr[i],arr[j]))
        if arr[i]+arr[j] > s:
            j-=1
        else:
            i+=1
    if len(lst) == 0:
        return "No Pairs found"
    else:
        return lst
    
    
#taking inputs
#provide comma sepetared integer values
arr=[int(x) for x in input().split(',')]
#provide required sum
s=int(input())

# function call
ans=pairs(arr,s)
print(ans)

1,2,3,4,5,6,7,6,5,4,3,2
8
[(1, 7), (2, 6), (2, 6), (3, 5), (3, 5), (4, 4)]

Problem 3

In [76]:
#importing string and random modules to generate random charcter
import string
import random

#function encoder takes string as input and gives encoded string
def encoder(s):
    ch = random.choice(string.ascii_letters)
    return (ch+s[::-1])

#taking inputs(provide string)
st=input()

#function call
ans=encoder(st)
print(ans)

uyrteg
dgetryu

Problem 4

In [72]:
#function compress to compress no.of characters
def compress(s):
    out=''
    i=0
    while i < len(s):
        count=1
        for j in range(i+1,len(s)):
            if (s[i]==s[j]):
                count+=1
            else:
                break
        if count > 1:
            out=out+s[i]+str(count)
        else:
            out=out+s[i]
        i=i+count
    return(out)


#taking inputs(provide string)
st=input()

#function call
ans=compress(st)
print(ans)

all is well
al2 is wel2

Problem 5

In [89]:
#function to find non repeating chars
def non_repeating(s):
    freq={}
    for ch in word:
        if ch not in freq:
            freq[ch]=1
        else:
            freq[ch]+=1
    a=[k for k,v in freq.items() if v==1]
    return(''.join(a))

#taking inputs(provide strings)
word1=input()
word2=input()
word=word1+word2
ans=non_repeating(word)   
print(ans)

Rajesh
Ganesh
RjGn

Problem 7

In [93]:
#function to represent numbers 1-26 as characters A-Z
def alphabet_seq(arr):
    out=''
    for ch in arr:
        if 1<=ch<=26:
            out = out + chr(ch+64)
    return out

#taking inputs
#provide comma sepetared integer values
arr=[int(x) for x in input().split(',')]

#function call
ans=alphabet_seq(arr)
print(ans)

3,4,5,67,8,9
CDEHI

Problem 6

In [110]:
#importing random module
import random

#input subjects,hours,days 
subjects=['subject1','subject2','subject3','subject4','subject5']
hours=['hour1','hour2','hour3','hour4','hour5']
days=['day1','day2','day3','day4','day5']

#shuffling and printing
for i in range(len(days)):
    print("Time table for",days[i])
    print(list(zip(hours,subjects)))
    random.shuffle(subjects)

Time table for day1
[('hour1', 'subject1'), ('hour2', 'subject2'), ('hour3', 'subject3'), ('hour4', 'subject4'), ('hour5', 'subject5')]
Time table for day2
[('hour1', 'subject2'), ('hour2', 'subject1'), ('hour3', 'subject4'), ('hour4', 'subject3'), ('hour5', 'subject5')]
Time table for day3
[('hour1', 'subject4'), ('hour2', 'subject5'), ('hour3', 'subject1'), ('hour4', 'subject2'), ('hour5', 'subject3')]
Time table for day4
[('hour1', 'subject3'), ('hour2', 'subject2'), ('hour3', 'subject1'), ('hour4', 'subject5'), ('hour5', 'subject4')]
Time table for day5
[('hour1', 'subject4'), ('hour2', 'subject2'), ('hour3', 'subject3'), ('hour4', 'subject1'), ('hour5', 'subject5')]

Problem 8

In [ ]:
#installing 
!pip install flask
!pip install flask-sqlalchemy

In [ ]:
# importing libraries
from flask import Flask, request, Response, jsonify
from settings import *
import json

In [ ]:
# creating an instance of the flask app
app = Flask(__name__)

In [ ]:
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///database.db'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)

In [ ]:
class Movie(db.Model):
    __tablename__ = 'movies'  # creating a table name
    id = db.Column(db.Integer, primary_key=True)  # this is the primary key
    title = db.Column(db.String(80), nullable=False)
    # nullable is false so the column can't be empty
    year = db.Column(db.Integer, nullable=False)
    genre = db.Column(db.String(80), nullable=False)

In [ ]:
def json(self):
        return {'id': self.id, 'title': self.title,
                'year': self.year, 'genre': self.genre}

In [ ]:
def add_movie(_title, _year, _genre):
    '''function to add movie to database using _title, _year, _genre
    as parameters'''
    # creating an instance of our Movie constructor
    new_movie = Movie(title=_title, year=_year, genre=_genre)
    db.session.add(new_movie)  # add new movie to database session
    db.session.commit()  # commit changes to session

In [ ]:
def get_all_movies():
    '''function to get all movies in our database'''
    return [Movie.json(movie) for movie in Movie.query.all()]

In [ ]:
def get_movie(_id):
    '''function to get movie using the id of the movie as parameter'''
    return [Movie.json(Movie.query.filter_by(id=_id).first())]
    # Movie.json() coverts our output to the json format defined earlier
    # the filter_by method filters the query by the id
    # since our id is unique we will only get one result
    # the .first() method will get that first value returned

In [ ]:
def update_movie(_id, _title, _year, _genre):
    '''function to update the details of a movie using the id, title,
    year and genre as parameters'''
    movie_to_update = Movie.query.filter_by(id=_id).first()
    movie_to_update.title = _title
    movie_to_update.year = _year
    movie_to_update.genre = _genre
    db.session.commit()

In [ ]:
def delete_movie(_id):
    '''function to delete a movie from our database using
    the id of the movie as a parameter'''
    Movie.query.filter_by(id=_id).delete()
    # filter movie by id and delete
    db.session.commit()

In [ ]:
from movies import *

In [ ]:
# route to get all movies
@app.route('/movies', methods=['GET'])
def get_movies():
    '''Function to get all the movies in the database'''
    return jsonify({'Movies': Movie.get_all_movies()})

In [ ]:
# route to get movie by id
@app.route('/movies/<int:id>', methods=['GET'])
def get_movie_by_id(id):
    return_value = Movie.get_movie(id)
    return jsonify(return_value)

In [ ]:
# route to add new movie
@app.route('/movies', methods=['POST'])
def add_movie():
    '''Function to add new movie to our database'''
    request_data = request.get_json()  # getting data from client
    Movie.add_movie(request_data["title"], request_data["year"],
                    request_data["genre"])
    response = Response("Movie added", 201, mimetype='application/json')
    return response

In [ ]:
# route to update movie with PUT method
@app.route('/movies/<int:id>', methods=['PUT'])
def update_movie(id):
    '''Function to edit movie in our database using movie id'''
    request_data = request.get_json()
    Movie.update_movie(id, request_data['title'], request_data['year'],                                      request_data['genre'])
    response = Response("Movie Updated", status=200, mimetype='application/json')
    return response

In [ ]:
# route to delete movie using the DELETE method
@app.route('/movies/<int:id>', methods=['DELETE'])
def remove_movie(id):
    '''Function to delete movie from our database'''
    Movie.delete_movie(id)
    response = Response("Movie Deleted", status=200, mimetype='application/json')
    return response

if __name__ == "__main__":
    app.run(port=1234, debug=True)